body {
  font-family: sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

nav button {
  margin: 0 8px;
  width: 80px;
  height: 36px;
  /* padding: 10px 20px; */
  border: none;
  border-radius: 18px;
  background-color: rgb(225, 225, 225);
  cursor: pointer;
  transition: background-color 0.4s ease;
  box-shadow: 0 0px 1px 0 rgba(0,0,0,0.24), 0 1px 10px 0 rgba(0,0,0,0.19);
  /* box-shadow: 0 0px 1px 0 rgba(0,0,0,0.24), 0 1px 10px 0 rgba(0,0,0,0.19); */
  /* shadow: h-offset | v-offset | blur-radius | spread | color | inset | initial | inherit */
}

nav button:hover:not(.active) {
  background-color: #ccc;
}

nav button.active {
  background-color: rgb(244, 244, 244); /* Change background color for active button */
  /*color: #27286e; /* Change text color for active button (optional) */
}

.content {
  padding: 20px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  display: none;
}

.content h2 {
  margin-bottom: 10px;
}
