body {
  font-family: sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

nav button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  background-color: #ddd;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

nav button:hover {
  background-color: #ccc;
}

.active {
  background-color: #007bff; /* Change background color for active button */
  color: #fff; /* Change text color for active button (optional) */
}

.content {
  padding: 20px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  display: none;
}

.content h2 {
  margin-bottom: 10px;
}
